.my-container img {
    width: fit-content;
}

@media (max-width: 1024px) {
    .my-container img {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

.my-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-align: center;
    margin: 5px;
}

.footer-container {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px){
    .footer-container {
        max-width: 540px;
    }
}
@media (min-width: 1200px) {
    .footer-container {
       max-width: 1140px;
    }

}

.my-element-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.footer {
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #dee2e6;
    display: flex;
    
}

.footer-item {
    align-items: center;
    display: flex;
}
.footer-text {
    --bs-text-opacity: 1;
    color: #6c757d;
}
.footer-link {
    justify-content: flex-end;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.my-small {
    margin-left: 1rem;
}
