
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    margin: 10px;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 5px;
}

.tag {
    display: flex;
    flex-direction: row;
    margin: 0;
}
.tag p {
    flex: 1;
    margin: 0;
}

@media (max-width: 850px) {
    .post {
        width: 100%;
    }
}
